{% extends "_base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h2 class="text-center mt-5" style="background-color: #b8e1d2; padding: 10px; border-radius:10px;">Please Sign-in to see To-Do list</h2>
  <div class="form-container mt-5" style="width: 50%; margin: 0 auto">
    <h1 class="text-center">Login</h1>
    {% if form.errors %}
      <p class="text-center" style="color:red">Invalid credentials</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ form.password|as_crispy_field }}
      </div>
      <input type="hidden" name="next" value="{{ next }}">
      <div class="text-center">
        <input type="submit" value="Submit" class="btn btn-primary">
        <a href="{% url 'todo:index' %}" class="btn btn-primary">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
