<ul class="list-group sidebar">
  {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <p class="user-name btn btn-outline-info my-2 my-sm-0 mb-2" style="margin-right: 10px;">
         Welcome  @{{ user.username|capfirst }}
      </p>
      <p></p>
      <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Log out</button>
    </form>
    {% else %}
      <div class="auth">
        <a href="{% url 'login' %}" class="login btn btn-outline-info my-2 my-sm-0 btn-lg" style="float: right;">Sign in</a>
      </div>
  {% endif %}
  <br>
  <li class="list-group-item"><a href="{% url 'todo:index' %}" class="list-group-item-action">Home page</a></li>
  <li class="list-group-item"><a href="{% url 'todo:tag_list' %}" class="list-group-item-action">Tags</a></li>
</ul>
